*.dll
bin/
obj/
Debug/
.idea/
Migrations/
.vscode/
.DS_Store

AgentFrameworkQuickStart/AgentFrameworkQuickStart/appsettings.private.json

HttpClient/HttpClient_Basic/appsettings.private.json
**/*.private.json